[2018-01-30 09:52] Killy85 opened #1 "The Package-lock.json prevent from installing dependencies"
After my first checkout I did try to install all the dependencies by running `npm i` but it resulted in an error because of a hash that has been computed on another computer but that is present in the package-lock.json

### Expected Behavior
I think that, even if it's a minor problem and that is really easy to do, it may be great if we don't have to remove the package-lock after every pull

### Cu

[2018-01-30 11:18] lauthieb commented on #1
Hello Killy85 !

First, thanks for your contribution.
I understand your problem, it’s my fault. I work on a pro laptop which have some configurations of my company (like the nexus registry if npm packages in this cases...)
Your solution cannot be good because the purpose of package-json.lock is to increase the rapidiity of downloading packages from npm because of theses hashes. So it doesn’t have

[2018-01-30 17:19] #1 closed

[2018-02-02 17:04] KeziahMoselle opened #8 "Searchbar is case sensitive"
# Case sensitive

### Expected Behavior
If we write "sum" we are supposed to see the result corresponding to "Sum"

### Current Behavior
![Search for sum](https://puu.sh/zf9HH/661ef6b7c0.png "Search for sum")
![Search for Sum](https://puu.sh/zf9Ii/2016ef032b.png "Search for Sum")

### Your Environment
* Version used: v1.0.0
* Operating System: Windows 10

[2018-02-02 17:40] lauthieb commented on #8
Oh thanks, I will fix that ;)

[2018-02-02 21:08] #8 closed

[2018-02-04 08:10] pierre-67 opened #12 "Feature request"
Thanks a lot for that utilitie.
I had like to be able to add a new language to the list.

[2018-02-04 12:53] lauthieb commented on #12
Hello Pierre !
Thanks for your proposition. I understand your request but I depend on the ace editor modes. If you go to src/renderer/main.js, you will see that I import a list of modes and when you select a language, I bind automatically the language to it.
So if you want to add an other language, I should import this mode and if it doesn’t exist, it will be difficult...
Do you have an other idea

[2018-02-05 08:39] Julienh opened #13 "Feature requests"
Hi and thanks for Code Notes :)

Here is some ideas to improve your software :
- be able to resize the edit view
- choose the save folder for the snippets => I would like to have my snippets on different computer so if it possible save my snippets on dropbox.

Thank you

[2018-02-05 10:06] lauthieb commented on #13
Hello Julien, you're welcome ;)

Thanks for your ideas !
For the first, no problem, it's a cool idea and I will try to add this. For the second, I currently develop a version with the integration of Github Gists and maybe one day I will develop a version where we could be able to import/export our code notes :)

[2018-02-05 10:44] Wikiki opened #14 "Feature request: Link with Atom"
First of all: thanks for the job. It's a great tool :-D

Do you plan to integrate the tool with the Atom code editor ?

Regard

[2018-02-05 11:19] Julienh commented on #13
Thanks!

Where are saved our widgets ? Maybe if we can have settings to choose the save folder it's enough for my case ;)

[2018-02-05 12:36] lauthieb commented on #14
Hello @Wikiki

Thanks for your issue :)
I don't plan to integrate code notes with Atom for the moment because there is a lot of IDEs and I don't have the time to integrate code notes on each IDEs... But if you want, you can do it, I will appreciate your PR :)

[2018-02-05 18:45] Canyata opened #16 "Custom languages"
I am sysadmin and I would love to use code-notes to store some SQL request or Cisco configuration on it.
Could you add those languages please?

[2018-02-05 21:10] lauthieb commented on #16
Hello @Canyata ! Thank you very much for request ;)
I will add SQL support in the next version 1.1.1 (probably tomorrow).
I depend on the "ace editor" to show coloration on editor, I did'nt find a mode for Cisco, so I think you should use "text" mode sorry...

[2018-02-05 21:16] Canyata commented on #16
Is that possible to create custom language?
I would like to sort them even if it is displayed in text mode

[2018-02-05 21:23] lauthieb commented on #16
Oh okay, it's possible. I have to do some refactoring but it's possible. I will keep your informed ! Thanks for the support ;)

[2018-02-06 13:55] shevabam opened #17 "Note is not created if "." in the filename"
### Current Behavior
In the window for creating a note, if I enter a filename with a ".", the note does not register.

### Steps to Reproduce (for bugs)
1. Create note
2. Fill "name" field
3. Fill "Filename" field with a "."
4. Click on "Create" button ; the note is not saved

### Your Environment
* Version used: v1.1.0
* Operating System and version: Windows 7 64 bits

[2018-02-06 14:15] shevabam commented on #13
Hi,

Thanks for Code Notes !
I have some ideas too :)

* Have the ability to order languages in the sidebar
* Favorite notes (star)
* In the list of notes, have the ability to open / hide each block

Thanks

[2018-02-06 17:41] lauthieb commented on #17
Ok, thanks for the issue. I will fix it soon ;)

[2018-02-06 17:41] #14 closed

[2018-02-06 17:47] lauthieb commented on #13
Okay, thanks for your ideas guys !

@Julienh, our notes are stored in the userData directory. Refering to the documentation of Electron, this directory is for storing your app's configuration files, which by default it is the appData directory appended with your app's name.
When the gist integration will be up, we will be able to set some configurations, so after that I will try to answer your req

[2018-02-06 17:47] #12 closed

[2018-02-06 18:07] gustavoFreireS opened #18 "Code preview feature"
Hi and thanks for this well made, software

It would be nice if you add code preview option for stylesheets or markup languages (an easy implementation would be creating an iframe importing the files on view) in the case of preprocessed ones (like scss) you could use a javascript implementation of the preprocessor (like this one: https://github.com/medialize/sass.js/)

[2018-02-06 18:36] lauthieb opened #19 "Github gist integration"
Add the Github gist integration in Code Notes.
We will be able to retrieve, update, create and delete our snippets available on Github by passing a personal access token with the "gist" scope selected.

To see the progression : [Go there 🚂](https://github.com/lauthieb/code-notes/tree/feat/gists-integration)

- [x] Settings modal with github personal token
- [x] Get all gists
- [x] Display one gist

[2018-02-06 18:42] lauthieb commented on #18
Hello @gustavoFreireS !

Thanks for this feature idea, I think this feature will be able in V1.3 because V1.2 is already quite complete.
I will keep you informed about the progression ;)

[2018-02-06 18:48] lauthieb commented on #12
Now, it's duplicate of #16
I will try to plan this on the v1.3.0 ;)

[2018-02-06 18:53] gustavoFreireS commented on #18
thanks for the aswer, btw I could implement this change if you wnat

[2018-02-06 18:55] lauthieb commented on #18
Feel free @gustavoFreireS, I would appreciate this :)

[2018-02-07 08:25] amirjani opened #20 "sub category"
there are some language to save , but saved code has some sub categories too .
for example for html and css
language is HTML
then there is no way to add HTML things like HTML related to button for example .

### Expected Behavior
Can add sub category to each language

### Current Behavior
only language supported

[2018-02-07 08:38] lauthieb commented on #20
Hello @amirjani, sorry I don't understand your request and your example. Can you please reformulate ?

[2018-02-07 08:44] amirjani commented on #20
​thanks for your attention
​
each languages many component
for example
php has methods for storing data and it can be in so many different ways
but if we want add it only in description form we meet some problems
so we can have php language and component that user can add like storing
methods

thanks again

[2018-02-07 09:43] lauthieb commented on #20
Oh okay, form example a tree like this :

|- JavaScript
|----- Async HTTP calls
|----- Array functions
|----- Cheat sheets
|- HTML
|---- Form
|---- Buttons
|---- Templates
|---- Starters

?

[2018-02-07 09:45] amirjani commented on #20
​Is it possible now ? ​

<https://mailtrack.io/> Sent with Mailtrack
<https://chrome.google.com/webstore/detail/mailtrack-for-gmail-inbox/ndnaehgpjlnokgebbaldlmgkapkpjkkb?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality>

On Wed, Feb 7, 2018 at 1:13 PM, Laurent Thiebault <notifications@github.com>
wrote:

[2018-02-07 09:46] amirjani commented on #20
​yes , It's helpful for each programmer ​

<https://mailtrack.io/> Sent with Mailtrack
<https://chrome.google.com/webstore/detail/mailtrack-for-gmail-inbox/ndnaehgpjlnokgebbaldlmgkapkpjkkb?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality>

On Wed, Feb 7, 2018 at 1:13 PM, Laurent Thiebault <notifications@github.com>
wrote:

[2018-02-07 10:04] lauthieb commented on #20
Ok, I see, thanks it's a good idea. I develop code notes in my free time and I have a lot of work for the next version (v1.2.0). So I will bring that in the v1.3.0 ;)
Thanks.

[2018-02-07 10:10] amirjani commented on #20
​thanks a lot
I'm learning electron
It's pleasure to help you

Any way wish you good luck ​

‌

On Wed, Feb 7, 2018 at 1:34 PM, Laurent Thiebault <notifications@github.com>
wrote:

[2018-02-07 13:18] Kayoku opened #21 "[minor] portable version for linux"
Hi,

Create a portable version for Linux could allow user to use code-notes even in computer without root access. (For example, if you are student and you work at your university...)

This is a really minor issue.

Thanks!

[2018-02-07 21:55] lauthieb commented on #21
Hello @Kayoku, thanks for your request. For the moment, I have a lot of features to develop and I'm not an Electron expert so I don't know how to resolve this. But, feel free to help me or I will do that one day :)

[2018-02-08 06:57] david-mk opened #22 "Feature - Tagging"
Hello, thanks for making this awesome project!

I think a really helpful feature would to be able to tag code snippets.

For example, if I have a bunch of react related snippets, it would be nice to be able to add and tag the snippets as "react" so they are easier to find later without being cluttered by the other snippets.

Let me know what you think.

[2018-02-08 09:07] lauthieb opened #23 "[Call for contribution] Is there someone with CSS/UX skills ?..."
Hello guys,

I write this issue because I found a bug in Code Notes and I'm calling you because I'm not really good in CSS...

### Expected Behavior
When I have a lot of languages, I can scroll to select the language I want

### Current Behavior

When there are a lot of languages and a small window height, we cannot see all languages

<img width="632" alt="capture d ecran 2018-02-08 a 09 59 33" sr

[2018-02-08 09:09] lauthieb commented on #22
Hello @david-mk, thanks for you request ;)

I have the same idea two weeks ago. But I saw that in Github gist, there's no tag so I've gave up but if you want this, I can do it in a new version. However, tags will only work in the local notes, not in gist ;)

[2018-02-08 09:11] lauthieb commented on #23
@david-mk @kayoku @amirjani @gustavoFreireS @shevabam @Canyata @Julienh ?

[2018-02-08 09:13] lauthieb commented on #20
Hello @amirjani, someone give me the idea to add some tags on a note. I think it's better than subdirectories.
What do you think about this?
See #22

[2018-02-08 09:51] shevabam commented on #23
On the list <ul> in <aside>, try by putting in CSS `overflow: auto;`

Also, you must define a maximum height (max-height). You have to recover the height of the window.

![codenotes](https://user-images.githubusercontent.com/1798289/35966415-09aae822-0cbe-11e8-8344-c26aa8caeabd.png)

[2018-02-08 11:27] lauthieb commented on #23
Thanks @shevabam !!!
I've just add this in the `<ul>` :

[code]

[2018-02-08 11:28] #23 closed

[2018-02-08 11:56] mdelantes commented on #22
Hello @lauthieb

Thanks you for this project!

Tags will be a real improvement IMHO even if it works only with local notes.

[2018-02-08 12:01] lauthieb commented on #22
thanks too @mdelantes, they will be present in the next version v1.2.0 ;)

[2018-02-08 12:24] Ichigo49 commented on #16
Hello @lauthieb !
Great work ! very useful
Is it possible to add some PowerShell support ?

[2018-02-08 12:37] lauthieb commented on #22
@mdelantes @david-mk I prefer to add tag on a note instead tag on each file, are you agree ?

[2018-02-08 12:41] lauthieb opened #25 "Add SQL & Powershell support"
Response to @Canyata & @Ichigo49 (See #16)

[2018-02-08 12:45] #25 closed

[2018-02-08 12:54] Kayoku commented on #16
Hi @lauthieb
Maybe also C/C++ and Bash would be great, and split Python in "Python" for python2 and "Python3" for python3. Both are very different :)

[2018-02-08 13:12] mdelantes commented on #22
@lauthieb yes, sound great.

Will you plan to add filter by tags too 😇  ?

[2018-02-08 13:19] lauthieb commented on #22
@mdelantes Yes, obviously :D

[2018-02-08 21:29] amirjani commented on #20
I don't understand what the exact meaning of tag is here ,
I think they are same now
It's better to have tag on each language and access them by its tags

[2018-02-08 22:11] lauthieb commented on #20
tag are free words like hashtag, it does'nt refer to a specific language.
I want to keep Code Notes simple and subdirectories + tags will be difficult. I prefer the notion of tags but thanks for your idea !!

[2018-02-08 22:36] lauthieb commented on #23
FYI : I made a donate part in the [website](https://lauthieb.github.io/code-notes#download) if you want to thank and motivate me... :)

[2018-02-09 08:32] amirjani commented on #20
I'm agree with you
good luck ​

<https://mailtrack.io/> Sent with Mailtrack
<https://chrome.google.com/webstore/detail/mailtrack-for-gmail-inbox/ndnaehgpjlnokgebbaldlmgkapkpjkkb?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality>

On Fri, Feb 9, 2018 at 1:41 AM, Laurent Thiebault <notifications@github.com>
wrote:

[2018-02-09 08:34] #20 closed

[2018-02-09 14:13] SolidSnakeFox opened #27 "32-bit Windows compatibility"
Hi,

My question is simple :
Is it possible to have a compatible version on a 32-bit Windows?

### My Environment
* OS: Windows 7 Pro 32-bit

[2018-02-09 14:42] lauthieb commented on #27
Hello @SolidSnakeFox, I don't know, I've just used the electron-builder in windows mode.
Feel free to contribute if you know how to generate an executable of Code Notes in win 32-bit.

[2018-02-10 10:02] #19 closed

[2018-02-10 15:24] #22 closed

[2018-02-12 09:38] brihx commented on #13
Hello,

Some ideas too.

- keep window size  andposition on restart (OSX?)
- a tag cloud on the left

Thanks for this app :-)

[2018-02-12 12:27] ClementGuyot opened #32 "Add Kotlin language in editor"
Hi Laurent,
Is it possible to add Kotlin language in your app ?

Thanks !
Clément Guyot.

[2018-02-12 12:28] lauthieb commented on #32
No problem @ClementGuyot ;)

[2018-02-14 14:38] shevabam opened #33 "Convert a local snippet to gist"
Hi,

Have the possibility to convert a local code to gist.

[2018-02-14 15:03] lauthieb commented on #33
Hello @shevabam, oh I like your idea, thanks ;)

[2018-02-14 16:31] Maaaxime opened #34 "Showing tags on sidebar"
Hi Lauthieb!

I've an idea for a new feature. I used another tools (a web one, called SnippetVamp), and a nice feature was to color the Tags and it was possible to filter directly on it by the sidebar (+ multiselection), as shown below :

![image](https://user-images.githubusercontent.com/18112977/36215441-6a840df2-11ac-11e8-8ede-39d64e4776e5.png)

PS: You did a nice work 👍  I will try to help as

[2018-02-15 11:02] lauthieb commented on #34
Hello @Maaaxime !
Oh thanks for these pretty ideas !! I will try to integrate a few of them in the V1.3.0.
Thansk for you compliments, if you want to develop some features, feel free to tell me :)

[2018-02-15 16:35] matlink opened #35 "Gists sometimes takes a lot of time"
When using gists, sometimes it is loading forever with the blue circle turning around.
To resolve, I need to spam 'local' and 'gists' again until I get my gists.
* Version used: 1.2.0
* Operating System and version: ubuntu 16.04

[2018-02-15 16:46] lauthieb commented on #35
Hello @matlink, thanks... But it's weird because when you click on Gists, it's just an async call to Github API, so I don't know why you have to spam "local" to see it works on gists...

[2018-02-15 17:58] matlink commented on #35
It might be due to the connexion ...

[2018-02-16 07:48] #35 closed

[2018-02-18 23:40] roboto-cloud opened #36 "Please gitlab snippets support..."
**Awesome project!!!**

_here an early adopter asking for gitlab snippets support, it is on the Road map?_

Congratulations!

[2018-02-19 09:59] lauthieb commented on #36
Hello @roboto-cloud, thanks for your proposition. I can plan this if you want, I have a lot of work and I code on Code Notes on my free time so I think I can do this in v1.4... :)

[2018-02-19 10:03] lauthieb commented on #34
Hi @Maaaxime, do you want to develop this feature ?
I currently plan the next version v1.3.0 :)

[2018-02-19 10:12] Maaaxime commented on #34
Hi !
It would be a pleasure, but I'm not an Node JS expert as you are 😉 .
For the moment, if you're ok, I will continue to test & suggest some solutions + features. But I will try to develop this feature in a Clone to gain skills 😄

[2018-02-19 10:39] roboto-cloud commented on #36
hi @lauthieb thanks for plan it :grinning:

[2018-02-20 15:15] ImNotLiam opened #37 "Editing Gist duplicates instead of editing - Deleting Snippit seems to Crash and reloads."
### Expected Behavior
Editing gist should of edited the original and not create a copy of it.

### Current Behavior
Below is a screenshot of what happens when you currently edit one.
![image](https://user-images.githubusercontent.com/13552261/36431862-9964c8ac-1650-11e8-8c88-5372e95fbe75.png)

### Steps to Reproduce (for bugs)
1. Edit the language for any gist
2. click update

### Your Environment

[2018-02-20 22:52] lauthieb commented on #37
Hello @ImNotLiam, when I edit a language of a file in a gist, there's no problem for me...

[2018-02-21 11:04] AlexShevyakov commented on #13
Hi there,
Fully support a dropbox idea, just to be able to place local database file into specific folder, say Dropbox. No need to create import/export atm.

[2018-02-21 20:44] lauthieb commented on #34
Okay @Maaaxime, no problem !
For your information, @guastallaigor helps me a lot by publishing colored tags in the PR #38 :smile:

[2018-02-21 21:54] guastallaigor commented on #34
I didn't try to do the tags inside the sidebar because of this. But if you guys want I can try. Maybe showing just the top two or something on the sidebar, and smaller? Just a thought.

[2018-02-22 07:39] lauthieb commented on #16
Hello all, for the UX, I plan to replace the future languages select box with an input autocomplete. What do you think ?

[2018-02-22 20:19] Ichigo49 commented on #16
hi !
I like the idea !

[2018-02-24 15:23] lauthieb commented on #34
Hello, I have an idea... Maybe we can have an autocomplete in the search input with tags, languages in suggestion... ?

[2018-02-24 15:26] Maaaxime commented on #34
Hello! Yeah nice idea 😊

Le sam. 24 févr. 2018 à 16:23, Laurent Thiebault <notifications@github.com>
a écrit :

--

*Maxime JUND*

Tél: +33.6.01.82.49.73
Mail: maxime.jund@gmail.com

Consultant / Développeur MS Dynamics NAV @ *Talent BS*

Pensez à l'environnement: n'imprimez ce message que si nécessaire !

[2018-02-24 21:58] bimlas commented on #34
I just met with the project and it's very promising. Personally I'm looking for a knowledge management software since two weeks and this is the first one which seems to met with my requirements. For now I have a collection of "statically organized" snippets (https://bimlas.github.io/#cheatsheet) but I'm thinking on a more efficient way which based on tags and tag relationships. This is why I drop

[2018-02-26 09:53] lauthieb commented on #37
?? @ImNotLiam

[2018-02-26 13:30] ImNotLiam commented on #37
For me it seems to duplicate the gist. Not sure if it is supposed to do this or overwrite the old one.

[2018-03-03 06:10] jzillmann commented on #16
Custom languages would be awesome! Would like to have a flutter/dart one!

[2018-03-11 13:16] Erreur32 opened #40 "Feature request Export/Import Local snippet"
It would be nice if we can import or export somes snippets locally.  Via file text or other ?

_Where is store the local snippet ?_

I love this tool :)

[2018-03-12 23:01] Taz8du29 opened #41 "Syntax highlight additions"
Hello !

It'd be nice if you added C, C++ (maybe x86_64 asm too ?) and some more languages to syntax highlighting.

Thanks you !

[2018-04-26 06:20] VisualBean opened #42 "Add C# as language"
C# is not on the dropdown list of languages.

[2018-04-30 20:13] VisualBean opened #43 "Caching of gists"
You should cache gists, at least per application instance.
its small and it really provides a lot of usability points 👍

Just check to see if any new have been added/removed since last view mount

[2018-05-02 14:03] paulushcgcj opened #44 "Manage Languages"
It would be awesome if it supports managing languages manually, like if you can`t find a language in dropdown menu, you can simply add it.

This way the number of issues based on language will be reduced.

I know that some of the "Custom Language" will not have some code coloring, but this will help us separate our snippets.

### Expected Behavior

On dropdown, you should select your language, or

[2018-05-03 15:41] liamdigitalstorm commented on #40
Yes, this needs to be a feature!! Looked through the actual app files and does not seem to be a basic way of storing the files you make. Please!!

[2018-06-19 20:46] lauthieb commented on #43
Hello @VisualBean, thanks for your request !
I would appreciate to make this feature but I don't have any time now... :(
Feel free if you want to help me.

[2018-06-19 20:47] lauthieb commented on #44
Hi @paulushcgcj , thanks a lot for your feature request !
I would appreciate to make this but I don't have any time now... 😟
Feel free if you want to help me.

[2018-06-19 20:54] lauthieb commented on #34
Hello @bimlas, thanks a lot for your idea ! It looks pretty cool.
I think it would be nice to associate note and snippet management.
Unfortunately, I don't have any time now to maintain Code Notes 😞
Feel free if you want to develop on this software, I can help you.

[2018-07-01 05:28] Benwebdev opened #45 "Add Liquid Programming Lang."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Add the programming language Liquid.

**Describe alternatives you've considered**
A clear and concise description of any alternative solution

[2018-07-17 10:05] #45 closed

[2018-07-19 19:43] bantya commented on #16
I agree that the separate language field is required for deciding the correct syntax highlighter and language support for the snippet and it is the easiest way to achieve what you want, but it limits us to predefined languages.

Instead of selecting or auto-completing the language name, you could try to provide a field for filename (filename + file-extension) instead of two separate fields for fil

[2018-07-21 10:34] #42 closed

[2018-08-03 00:05] krainboltgreene opened #48 "Don't ask for a file name, just generate one"
I want to offload notes quickly. Forcing me to figure out a file name slows me down. See: Github Gists.

[2018-08-03 00:06] krainboltgreene opened #49 "Notes require "valid" file names, but don't tell you that and also don't tell you what valid means"
Latest version doesn't let you create a note if the file name is "bad" but never tells you it's bad or what's wrong with it.

[2018-09-30 12:16] didlawowo commented on #33
any new about this issue ? should be usefull to save local in cloud or in github.

[2018-10-05 18:05] sdhutchins commented on #41
Just to add....`R` is one of the most popular languages. Should probably be included.

[2018-10-05 18:07] sdhutchins commented on #41
I'd be happy to add R if you could show me where that code is being processed in the source code. @lauthieb

[2018-10-29 19:32] lauthieb commented on #48
Closed by @slabruyere on #51
Thanks!!!

[2018-10-29 19:32] #48 closed

[2018-10-29 19:34] lauthieb commented on #49
Thanks for your report @krainboltgreene, this issue was closed in #51

[2018-10-29 19:34] #49 closed

[2018-10-29 19:54] lauthieb commented on #37
I can't reproduce on v1.2.0 and MacOS sorry. I close it, feel free to reopen with more examples.
Thanks @ImNotLiam :)

[2018-10-29 19:54] #37 closed

[2018-10-29 19:57] lauthieb commented on #18
Hello @gustavoFreireS, do you plan to implement this please ? :)

[2018-10-29 19:58] #21 closed

[2018-10-29 20:00] lauthieb commented on #33
hello @didlawowo, i plan to develop this in the next minor version. I work on my free time, so sorry for the delay :)

[2018-10-29 20:02] lauthieb commented on #40
Hello @Erreur32 and @liamdigitalstorm, I plan to do this in the next minor version.
Sorry for the delay, I develop code notes on my free time.
Would any of you wish to contribute ?
Thanks for you reports :)

[2018-10-29 20:25] gustavoFreireS commented on #18
Yeah still on, will start doing it following a similar project of mine: https://github.com/gustavoFreireS/react-text-editor

[2018-10-29 20:26] lauthieb commented on #18
@gustavoFreireS cool, thanks 😃

[2018-10-29 22:14] #32 closed

[2018-10-29 22:14] #41 closed

[2018-10-29 22:55] #27 closed

[2018-10-29 23:32] lauthieb commented on #49
There's a new release including this subject 🎉
 https://github.com/lauthieb/code-notes/releases/tag/1.2.1

[2018-10-29 23:32] lauthieb commented on #48
There's a new release including this subject 🎉
https://github.com/lauthieb/code-notes/releases/tag/1.2.1

[2018-10-29 23:32] lauthieb commented on #45
There's a new release including this subject 🎉
https://github.com/lauthieb/code-notes/releases/tag/1.2.1

[2018-10-29 23:32] lauthieb commented on #42
There's a new release including this subject 🎉
https://github.com/lauthieb/code-notes/releases/tag/1.2.1

[2018-10-29 23:33] lauthieb commented on #41
There's a new release including this subject 🎉
https://github.com/lauthieb/code-notes/releases/tag/1.2.1

[2018-10-29 23:33] lauthieb commented on #35
There's a new release including this subject 🎉
https://github.com/lauthieb/code-notes/releases/tag/1.2.1

[2018-10-29 23:33] lauthieb commented on #32
There's a new release including this subject 🎉
https://github.com/lauthieb/code-notes/releases/tag/1.2.1

[2018-10-29 23:42] sdhutchins commented on #41
Awesome!

[2018-10-29 23:52] lauthieb commented on #41
Sorry @sdhutchins, I've forgotten R lang, I will republish it in few minutes 😃

[2018-10-30 00:29] sdhutchins commented on #41
lol @lauthieb no problem! I can wait.

[2018-10-30 07:46] lauthieb commented on #41
@sdhutchins it's okay :)

[2018-11-05 15:43] eriveraa commented on #40
Hi, i want to backup my code snippets, what files should i save or rescue before format my machine? is there a folder or database to save?. Please your help.

[2018-11-15 13:50] Benwebdev commented on #45
Woop! Thank you @lauthieb

[2018-11-23 22:31] lauthieb commented on #40
Hi @eriveraa. As you can see in the code, the notes and settings are in the "userData" directory of this application:
* Windows 7, 8.1, and 10: C:\Users\<username>\AppData\Local\code-notes
* Mac OS X El Capitan: Users/<username>/Library/Application Support/code-notes
* Linux: /home/<username>/.config/code-notes

Inside this folder, you will have "notes.db" and "settings.db". You will be able to ba

[2018-11-28 12:14] jordanjoecooper opened #54 "Theme/Colour Options"
As it stands there are no theme options outside of the default.

**Describe the solution you'd like**
Multiple theme options preferably 'Dark' & 'Light' options for an existing example of what this could look like take a look at https://joplin.cozic.net/

**Describe alternatives you've considered**
As a longer term alternative there could be an options menu with a styling based option, if SCSS was

[2018-11-28 14:21] lauthieb commented on #54
Nice, thanks for your request @T4JC.
Feel free if you want to implement this in the next version.
I can answer your questions about the code.

[2018-12-07 19:46] ztcdeveloper opened #55 "Issue creating a note with multiple files"
**Describe the bug**
You can't manage multiple files when creating a note. Deleting a note causes the "Create note" modal to close.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the add note modal
2. Fill it out, but don't save
3. Add a file and then delete that file
4. Modal closes without saving and all work is lost

**Expected behavior**
I expected the modal to remain open so I cou

[2018-12-11 12:43] sleeyax commented on #17
Is it just me, or is this still not fixed in v1.2.1?

[2019-02-09 22:45] mlanner commented on #36
+1

[2019-02-11 07:53] lauthieb opened #56 "Create a VS Code plugin"
**Is your feature request related to a problem? Please describe.**
It will be great to have a VS Code plugin linked to Code Notes. No, it's not related to a problem but we would be even more productive if our notes were in our code editor.

**Describe the solution you'd like**
With this plugin, we would be able to:

- retrieve our code notes
- create a new one like in the app or from a file
- read

[2019-02-12 15:28] sleeyax commented on #54
I'd like to see this feature in feature releases as well, is anyone actively working on this?

[2019-02-12 17:13] VagyokC4 opened #58 "Team Functionality"
**Describe the solution you'd like**
This is nice for personal use but should be opened up for TEAM use.  Maybe an additional data source being a private repo secured by a PAT that members of a team can all link to and use together.

[2019-02-13 10:58] n-develop commented on #17
I just downloaded and installed v1.2.1 and it's not working yet.
In case it is important for reproduction: I use Windows 10 64 Bit

[2019-02-13 11:18] n-develop opened #59 "Filename cannot contain ".""
**Describe the bug**
When the filename contains a dot ( . ), the note is not created.
This bug was already reported in #17. But as this is already closed, I created this isuses.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Create note'
2. Fill all necessary fields
3. In the Filename field, use a value that contains a dot like 'Test.cs'
4. Click on 'Create'

**Expected behavior**

[2019-02-13 16:25] lauthieb commented on #59
Thanks for reporting 👍

[2019-02-15 07:47] lauthieb opened #60 "Integrate with carbon.now.sh features"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

It would be great if Code Notes can be integrated with https://carbon.now.sh features.

**Describe the solution you'd like**
We could share your code on twitter or export the image generated

[2019-02-15 07:48] lauthieb commented on #55
Thanks @ztcdeveloper for reporting this bug. I will fix it asap 👍

[2019-02-15 08:32] lauthieb commented on #55
@ztcdeveloper but I can't reproduce 😞
![feb-15-2019 09-31-37](https://user-images.githubusercontent.com/9600228/52844282-85724700-3104-11e9-9358-ce5b51419980.gif)

[2019-02-15 08:34] lauthieb commented on #59
I will fix it asap

[2019-02-15 13:54] sleeyax commented on #55
I have the same operating sytem and I'm able to reproduce this error. @lauthieb, make sure to click the red delete button after adding an additional file.
![image](https://user-images.githubusercontent.com/30344294/52860960-43132f00-3131-11e9-940f-50f55a207eca.png)

When I tried this, the modal closes and electron reloads itself. Oddly enough, the 'Add a file' feature works fine after that.

[2019-02-15 14:18] lauthieb commented on #55
Okay thanks @sleeyax :)
I reproduce when I type nothing in the other file. Thanks! I will investigate.

[2019-02-16 01:48] ztcdeveloper commented on #55
Thanks for looking into this @lauthieb! Below shows the process of reproducing. As @sleeyax mentioned, it seems to behave normally after the first time it fails and doesn't have any more problems until closing the application and then re-opening. The white flash seen in the capture occurs when clicking the delete button.

![bug_capture](https://user-images.githubusercontent.com/43078354/52892666-6

[2019-02-19 10:14] GattusoGregory opened #61 "Add shortcut to copy paste any snippet in any editor"
**Is your feature request related to a problem? Please describe.**
Something to select snippet and paste it into any text editor fastly

**Describe the solution you'd like**
Something like executor (app launcher) for example :
you press CTRL + ALT + Z a textbox appear you write your snippet name (autocomplete ?) select it by pressing enter, and it paste( or copy to the clipboard) the content of yo

[2019-02-25 07:31] igneel64 opened #63 "Slack channel"
Hey, how about adding a slack channel for this project. This way we can manage questions/requests better and build more responsiveness for those that want to contribute :)

[2019-03-03 15:41] lauthieb commented on #63
Great idea! I will create this slack pretty soon :)
Thanks @igneel64

[2019-03-04 13:49] lauthieb commented on #63
Here it is 🎉
I prefer Gitter for this type of chat room : https://gitter.im/code-notes/community
The goal will be to be more responsive about ideas of evolution and bug fixes. So, Code Notes would become a living product more powerful!
Many thanks for your idea @igneel64 ❤️

[2019-03-04 13:49] #63 closed

[2019-03-06 17:07] herrozerro opened #65 "Share Notes"
**Is your feature request related to a problem? Please describe.**
I am looking for a solution to share notes with my team, we even have started thinking about a common github account and sharing it to get common gists.

It would be great to change or add another local location, for example a network share that multiple users could access.  Or putting a folder into google drive.

**Describe the so

[2019-03-06 17:52] lauthieb commented on #65
Thanks a lot for this big idea and feature request @herrozerro.
Unfortunately, I think it will be pretty difficult to add this now.
I code on my free time and it's a big task :(
Feel free if you want to help me and we will plan this feature request.

[2019-03-06 17:55] herrozerro commented on #65
@lauthieb I am not an electron developer, but I can try.  I don't know the limitations of electron , but ff something like that is possible I could try to contribute.

[2019-03-08 08:07] Arkedrille opened #66 "Infinite loop on loading when create file (local mode)"
I can't create note : when I create one, I stay on "loading" for an infinite amount of time.
I use Fedora 29 and the appimage. Everything works, my others appimage still functioning.
See pictures for more information.

When I create on "create" the infinite loop begin.
If I click on "Add a file" then on the trash icon and click on "create", the file is created.

![codenotesbugcreate](https://user-

[2019-03-08 13:31] ricozone commented on #16
Yes would be nice to specify a custom langage name and affect to it an already defined one.
Example: "3dsmax maxscript" afected to "text" color scheme

[2019-03-09 16:57] Arkedrille commented on #66
trash the .appimage and try with another : same.

[2019-03-14 16:46] #59 closed

[2019-03-19 19:57] acumulus8 commented on #17
Getting the same issue with same version as  @n-develop

[2019-03-20 09:25] lauthieb commented on #17
Hey @acumulus8, I will investigate if this happens always on v1.2.2

[2019-03-23 03:08] Kondzolko opened #69 "Very small edit window for text"
Hello everyone looks like the very cool program but only one features what I think it necessary provide, it needs to make a window where you create a note bigger, for me, it very hard writes some information it in this so small window, if you can make this window bigger it will a greate!

Best regards,
Andrew

[2019-04-23 03:22] torr6420 opened #70 "Code File Location"
What location in my hard drive are the code snippets saved, had to reinstall Windows and lost all of my snippets, what a drag! At least show the path somewhere?

[2019-04-23 08:41] sleeyax commented on #70
Yeah, maybe some kind of 'export all', sync with cloud or backup feature. Would be awesome

[2019-04-23 14:47] lauthieb commented on #70
Hello @torr6420 & @sleeyax,

Yes, unfortunately, we don't have export feature...

As a workaround, you can also check notes and settings are in the "userData" directory of this application:
- Windows 7, 8.1, and 10: C:\Users[username]\AppData\Local\code-notes
- Mac OS X El Capitan: Users/[username]/Library/Application Support/code-notes
- Linux: /home/[username]/.config/code-notes

Inside this fol

[2019-04-23 15:30] torr6420 commented on #70
Thank you for replying, I hate to tell you, but code-notes installed
in C:\Users\[uname]\AppData\Local\Programs\code-notes and there is no
userData folder and no notes.db and settings.db.

Find attached list of all the files in the directory.

Thanks

On Tue, Apr 23, 2019 at 10:47 AM Laurent Thiebault <notifications@github.com>
wrote:

  Directory of C:\Users\[username]\AppData\Local\Programs\code

[2019-04-24 08:20] lauthieb commented on #70
Oh, sorry I don't have Windows at all and I can't test it...
I also don't have the time to maintain code-notes unfortunately... :(
If you want to see the code to store notes in userDate directory, you can see it there : https://github.com/lauthieb/code-notes/blob/master/src/renderer/datastore-notes.js
Sorry for this...

[2019-05-01 09:01] #70 closed

[2019-05-07 15:13] marvpaul opened #71 "Change internal data structure to save one created code snipped in one file"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I wan't to export my code notes or accessing them e.g. from terminal.

**Describe the solution you'd like**
It would be very helpful if the app internally stores one code note per file, using the filename which is provided by the user, so you can access it from outside the app.
E.g. in case I'll create a

[2019-05-14 14:54] infosisio opened #72 "Tabs for Multiple Files"
Right now if you add multiple files to a snippet, it just shows the one after the other.

Why not do it elegantly with tabs?

[2019-05-16 18:06] lauthieb commented on #71
Hello @marvpaul!
Thanks a lot for this great idea of improvement.
I don't have time nowadays to maintain Code Notes but I would love to help you if you want to make a Pull Request resolving your issue.
Regards :)

[2019-05-16 18:21] lauthieb commented on #72
Great idea!
I don't have time to make this live but I would love to help you if you want to make a PR ;)
Regards

[2019-05-19 23:53] Andrei0872 commented on #72
Is anybody working on this right now ?

[2019-05-22 15:52] infosisio commented on #72
@Andrei0872 No, I don't think so. Are you interested in doing it? It would be great.

[2019-05-24 07:12] Andrei0872 commented on #72
@infosisio it would be my pleasure. I'll start working on it, then. Thanks!

[2019-06-03 19:31] flashadvocate opened #75 "Plans to support github enterprise for Gists?"
Just curious if there are plans to support Github Enterprise?

[2019-06-24 12:09] lauthieb commented on #71
Closed with #74 :tada:
Thanks @marvpaul ❤️

[2019-06-24 12:09] #71 closed

[2019-07-06 16:55] LebCit commented on #56
Bonjour @lauthieb
Je saisis l'occasion pour écrire en français dans le monde du code (rarissime) 🤣
Tout d'abord pour vous félicitez de cet outil simple, intuitif, fiable, rapide d'exécution et indispensable pour garder des notes ou blocs de codes synchronisées avec gist.
Je cherchais un outil à cet effet et j'ai opté de tester le vôtre, en premier, parmi quatre autres "candidats", et je suis ravi

[2019-08-17 22:44] saudiqbal opened #78 "Custom notes location"
Please add an option to define custom notes location like inside OneDrive folder.

[2019-08-23 07:25] GAZelenka opened #80 "Feature Request - extra fields"
Hi Laurent, I'm not a programer (I use code I find on the web to create my PowerShell and Javascript queries!) I'd find it really useful to have a field for:
- Source - so I can find the original code web site
- Works (Yes/No) I've tried a large amount of code snippets that don't work in my environment - it would be  nice to be able to save an tag these, so I don't keep re-trying something that do

[2019-10-01 20:52] benhalpern opened #91 "Feature request: "Frequently used file types""
**Is your feature request related to a problem? Please describe.**
I can tell I'm going to want to use the same programming languages pretty consistently. It would be nice if I were presented with frequently/recently used ones.

**Describe the solution you'd like**
Next to the dropdown, there could be a couple clickable options.

**Describe alternatives you've considered**
Alternatively, having a

[2019-10-01 21:21] lauthieb commented on #91
Hi Ben!

What an honor to receive a feature request from you.
Thanks a lot for the visibility that my DEV.to articles brings to Code Notes project.

It's a pretty good idea. I label it now for Hacktoberfest! Hoping someone could help me make this available! 💡

[2019-10-01 21:40] lauthieb commented on #75
I @flashadvocate, sorry but there's no plan to support Github Enterprise for the moment.
Do you know if this could be simple to integrate?

[2019-10-01 22:02] sahilsharma011 commented on #91
I'm interested in working in this. What I was thinking that maybe we could sort programming languages by their frequency of usage in descending order. And also implement a searchable dropdown.

[2019-10-01 22:33] sahilsharma011 opened #92 "Error: Cannot destructure property `compile` of 'undefined' or 'null'"
**Describe the bug**
I'm unable to run `npm run dev` and dev server is not working on localhost:9080

**To Reproduce**
Steps to reproduce the behavior:
1. Git clone
2. npm install
3. npm run dev
4. See error

**Expected behavior**
Local server running on localhost:9080

**Error Message**
[code]

**Additional context**
On searching a bit, I'm seeing that webpack-dev-server@3.1.11 requires a peer of

[2019-10-02 04:53] kodaman2 commented on #75
@flashadvocate out of curiosity what error are you getting? looks like enterprise uses the same api. Did your token not work?

[2019-10-02 12:27] kodaman2 commented on #75
Nevermind, looked at the code and this repo is using octokit for authentication, it should still be a relatively easy change just need to give the custom enterprise url to the octokit constructor. I might be able to submit a PR.

[2019-10-02 18:42] jack-chapman commented on #92
I believe this problem was caused by Dependabot updating webpack-dev-server from 2.11.0 to ^3.1.11 in #87

I rolled back my webpack-dev-server version to 2.11.0 and the dev server started up properly. Not an ideal solution, but it'll get you up and running.

[2019-10-02 19:07] jack-chapman commented on #80
I feel like a generic 'notes' section for each snippet (or file) could be very useful.
I like the idea of being able to link your snippet up to a source on the web, so adding clickable links to a 'notes' section could be really valuable.

For the 'works' yes/no idea, you could probably use the tags feature. It's not very clear, but you can use the search bar to filter the snippets by tag.

[2019-10-02 20:41] kodaman2 commented on #75
Anyone working on this already?

[2019-10-02 20:52] jack-chapman commented on #92
As a follow up, I'm having a look at upgrading this to use the newest version of electron-vue. @lauthieb Are you happy for me to do this? It would be a pretty big pull request I think 😄

[2019-10-03 21:40] lauthieb commented on #75
Let's go @kodaman2 if you want 😃
Thanks a lot!

[2019-10-03 22:55] kodaman2 commented on #75
@lauthieb cool, I'll submit a wip PR so people know is in progress.

@flashadvocate

- Would you be able to test by building the project locally?
- What is your company GHE url?

I'm going to hardcode the url the octokit constructor to make sure it works as a start, but I don't have access to an enterprise account, I suppose you can't create a dummy account for us to test it would make this a lot

[2019-10-04 03:33] kartik-budhiraja commented on #80
@lauthieb can I look into this issue if it's available?

[2019-10-04 07:12] lauthieb commented on #80
@kartik-budhiraja yes for sure!
How do you plan to implement this "meta" part?

[2019-10-04 07:14] lauthieb opened #94 "Upgrade from Vue CLI 2 to Vue CLI 4"
Hi everyone!

I need help to migrate and refactor the codebase from Vue CLI 2 to Vue CLI 4.

Thanks a lot in advance for your help ❤️

[2019-10-04 23:07] flashadvocate commented on #75
@kodaman2 yes I'd be willing to help.

Company GHE is github.ncsu.edu

[2019-10-05 10:14] TheFern2 opened #96 "Reloading gists when switching from gists to local"
**Describe the bug**
Repetitive loading have you waiting on gists loading.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Gists, see the loading circle
2. Click on local
3. Go back to gists, and a new loading circle appears

**Expected behavior**
I think the loaded gists should remain loaded even when going to local, and maybe have a refresh button if you want to pull new gists from p

[2019-10-05 12:12] lauthieb commented on #96
Hello @kodaman2,
Yes you're right, I think it could be nice to have a "refresh" button.

[2019-10-05 19:19] kodaman2 commented on #96
I'll see what I can come up for this issue.

[2019-10-05 19:22] jodli commented on #96
Maybe just use this [package](https://www.npmjs.com/package/vuex-cache)?

[2019-10-05 19:40] jodli commented on #96
I've tried it and it seems to work quite nicely. Maybe this is already good enough for now and something to work with?

[2019-10-05 19:53] kodaman2 commented on #96
I'll take a look at it tonight. Looks like is heading in the right direction. 😀 I still think the reloading needs to be handled another way like maybe Note.js new state property gistsLoaded, and a refresh button tied to the load action and/or a shortcut such as cmd/ctrl + r.

[2019-10-05 19:57] jodli commented on #96
You give it a go then. Didn't want to steal this issue from you! :(

[2019-10-05 20:28] kodaman2 commented on #96
@jodli You're good, I'll try to submit a commit to your PR and that way is both our idea. 👍😁

[2019-10-06 20:06] thauska commented on #94
I can do this

[2019-10-06 21:59] lauthieb commented on #94
@thauska feel free!
Thanks a lot in advance! 😃💯

[2019-10-07 19:14] lauthieb commented on #92
Closed with #93, thanks @jack-chapman :tada:

[2019-10-07 19:14] #92 closed

[2019-10-07 20:23] kodaman2 commented on #75
@flashadvocate whenever you get a chance this week please test PR #95 .

[2019-10-08 00:14] Seanmclem commented on #94
Vue 3 is not released?

[2019-10-08 00:38] thauska commented on #94
I think he means upgrade for Vue CLI 3

[2019-10-08 08:34] lauthieb commented on #94
Yes sorry :)

[2019-10-08 10:49] kodaman2 opened #100 "Security: Should token be hidden?"
**Describe the bug**
I don't know if this is a valid security issue, but I believe the token once stored it should not be visible at all kind of like on github. I haven't done much Vue to be honest, so even is is hidden I don't know if the store is still accessible via file directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. Token is visible

**Expected behavior**
To

[2019-10-08 12:27] Shhzdmrz commented on #55
Want to work on it but for me this issue is not appearing in Windows 10. Would be better if we have more information to reproduce it.

[2019-10-09 17:55] kodaman2 commented on #96
Ok, now that I am done with the ghe auth PR, I can get back to this one. It might take me a little longer but cache or avoiding full notes reload will be done.

[2019-10-09 21:03] flashadvocate commented on #75
Just wanted to say thanks to @kodaman2 for his work on this. Looking forward to taking advantage of gists on enterprise github!  🎉 🍻

[2019-10-09 21:22] kodaman2 commented on #75
You're welcome, glad to bring in ghe auth to code-notes.

[2019-10-12 12:41] probil commented on #66
Hi @Arkedrille
I'm unable to reproduce it on my machine: Archlinux with Cinnamon
Which versions are you using?

[2019-10-12 13:47] probil commented on #69
Font size is also quite small for retina display

[2019-10-13 10:42] probil commented on #69
Don't you mind if I take it?
I've already solved an issue with font size and I think I can implement fullscreen mode

[2019-10-13 12:20] probil opened #104 "Menu -> Application -> About application is not working"
**Describe the bug**
Menu -> Application -> About application is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Click `Menu -> Application  -> About application`

**Expected behavior**
_About screen_ is displayed

**Additional context**
App version: 1.2.2

[2019-10-15 03:33] kartik-budhiraja commented on #80
@lauthieb  Sorry I was a bit occupied, I am going to look into it this week, will ping you here with details about how I envision to the solution to be!

[2019-10-15 09:50] probil commented on #69
Here is a PR #103. Review please

[2019-10-17 22:45] #75 closed

[2019-10-17 22:47] lauthieb commented on #104
Oh strange, it works on MacOS. What's your OS?

![image](https://user-images.githubusercontent.com/9600228/67053139-c2358880-f140-11e9-8ab5-7e9bdad7af09.png)

[2019-10-17 22:53] probil commented on #104
Hi @lauthieb
[code]

[2019-10-18 12:33] probil commented on #94
Consider upgrading to Vue CLI 4 (since released recently)

[2019-10-18 18:57] vosamoilenko commented on #36
+1

[2019-10-20 15:29] jack-chapman commented on #100
I'd be happy to implement a fix for this. Makes sense to me that you wouldn't want someone else to see your token!

[2019-10-20 15:45] jack-chapman commented on #100
This could be done by handling the input like a password?

So, unless you click the eye icon, the token will be hidden. This would hopefully prevent somebody from seeing it on your screen.

<img width="592" alt="Screenshot 2019-10-20 at 16 43 36" src="https://user-images.githubusercontent.com/25803013/67162089-d0f68800-f358-11e9-8ebc-ac5df53448f3.png">

[2019-10-20 15:51] jack-chapman commented on #100
Could potentially do a base64 encode too in the store?

[2019-10-20 15:51] kodaman2 commented on #100
Jack yeah I understand the visual aspect that's one quick fix for sure.

I am more interested in the token stored within the system. Where some hacker can intentionally grab that token since is plain text and use it maliciously. I know is far fetched.

If you launch code notes in dev, you can still see the token by drilling down the vue components. My question, since I am relatively new to web dev

[2019-10-20 16:12] jack-chapman commented on #100
Yeah I see your point here. I'm not sure _where_ the data is actually stored on the user's machine, so I'm not sure how to check if it's usable or not. @lauthieb could you offer any advice on this?

As I mentioned above, we could obfuscate the token in the store by doing some kind of base64 encode and only decoding it upon render, however I don't know how useful or worthwhile this will be — I don'

[2019-10-20 16:38] kodaman2 commented on #100
Yeah I don't see much of an issue for a single user machine, but a multiple user computer might be an issue maybe not so much on Linux/mac where files are protected per user per chmod permissions. On windows it might be a different story as long as you have admin rights you can read any file. I guess most tokens will be useless if is just a gists permission but imagine if someone accidentally gave

[2019-10-20 16:46] jack-chapman commented on #100
Yep, it is. I'm afraid I don't have a solution for that one.

I'll make another issue and PR for hiding the access token behind a password field however — as that definitely should be done.

[2019-10-20 16:49] jack-chapman opened #106 "Hide Github access tokens behind a password field"
When entering an access token and viewing the settings modal, the access token is visible to anyone looking at the screen.

We should hide the access token behind a password input, which you can toggle visibility of.

This can be done easily using buefy, as the `<b-input>` element supports `type="password"` and the `password-reveal` attribute.

[2019-10-20 23:35] lauthieb commented on #100
Thanks a lot for this investigation.
I don't have any idea too to hide this token on the computer.
Maybe this could be done with a support of Dashlane/Keypass integration. But I've never did that with an Electron application. :)

[2019-10-20 23:36] #106 closed

[2019-10-21 09:44] kodaman2 commented on #100
Yeah I don't know much about security within storages, I just put it out there in case is something to be done. It might not be a big deal after all.

[2019-10-22 21:53] nkondra commented on #94
Is this still in progress? I would be happy to give this one a go.

[2019-10-22 22:13] lauthieb commented on #94
Thanks a lot @nkondra !!
Maybe you can check this with @thauska!

[2019-10-24 12:29] liloumuloup commented on #104
Hello !

I've got the same case on Windows 10 Pro

[2019-10-24 12:35] liloumuloup opened #108 "Feature request : backup and export/import feature"
Hello,

I would like to know if it's possible to add a way to backup the datas easily and on another drive or in another folder ?

Is there also a way to export and reimport the datas ?

Kind regards.

[2019-10-24 13:47] lauthieb commented on #108
Hi thanks @liloumuloup!
There's no possible for the moment and I don't have any time to do this development...
But your request is more detailed here : Duplicate #40
Regards.

[2019-10-24 13:47] #108 closed

[2019-10-24 14:17] OiYouYeahYou opened #109 "App icon on linux broken"
**Describe the bug**
On Ubuntu the app icon is either not set or missing

**To Reproduce**
Steps to reproduce the behaviour:
1. Download app image
1. Run app image on Ubuntu
1. Look at app icon in the dock/app-bar
1. Observe that it is the "iconless icon" given to apps without icons

**Screenshots**
![image](https://user-images.githubusercontent.com/20130059/67485665-731cb580-f662-11e9-92e1-1e6bc3

[2019-10-24 16:02] lauthieb commented on #109
Just PNG sorry :(

[2019-10-24 16:03] lauthieb commented on #109
You can crop this image : https://github.com/lauthieb/code-notes/blob/master/src/renderer/assets/img/code-notes-logo-black-full.png
and convert to SVG if you want.

[2019-10-24 19:43] bastienterrier commented on #17
Hello, I'm currently looking at your projet: great btw!
And I'm experiencing the same issue. After debugging the code and check on internet what's going wrong, I found this issue: https://github.com/louischatriot/nedb/issues/399
neDB does not support dot, neither MongoDB. (And they won't)

So, one possibility would be to encode the `.` to store the file in the DB during local file creation, and de

[2019-10-24 20:27] bastienterrier commented on #36
I could try to add the Snippets support with the https://github.com/node-gitlab/node-gitlab library, @lauthieb what do you think?

[2019-10-24 22:39] lauthieb commented on #36
Nice, give it a try if you want! Thank you very much @bastienterrier

[2019-10-24 22:41] lauthieb commented on #17
Thanks for the investigation @bastienterrier.
You’re right, sure that your solution could resolve this bug.

[2019-11-04 14:16] K-lemens opened #110 "Code Snippets are not displayed in gist overview"
After downloading and updating to the newest version of Code Notes (v. 1.2.3) my Snippets stored in Gist are not displayed correctly. The titel of each Note is shown, but the Note is displayed empty. Though when I click on "Edit Notes" the full text, which I also can see in my Gist online, is displayed and can be edited.

**Screenshots**
![grafik](https://user-images.githubusercontent.com/50579621

[2019-11-04 14:57] lauthieb commented on #110
Thanks a lot @K-lemens for reporting this.
We will investigate as soon as possible.
Can you download the 1.2.2 please : https://github.com/lauthieb/code-notes/releases/tag/1.2.2
You can find the .dmg/exe/AppImage files in assets of this release note.
Thanks a lot.

[2019-11-04 14:58] lauthieb commented on #110
@jack-chapman do you think that this bug could be caused by https://github.com/lauthieb/code-notes/commit/8b530087937596c510cf68f0243c0677e2f222df ?

[2019-11-04 14:59] lauthieb commented on #110
@kodaman2 @flashadvocate, may I have your help too please?

[2019-11-04 15:56] flashadvocate commented on #110
I can confirm this bug as of the #95 PR. I did notice that switching contexts sometimes made it work. It affected some snippets but not others.

[2019-11-05 00:43] kodaman2 commented on #110
Will definitely need some good debugging can't make any promises this week.
Maybe until the weekend I'll take a look.

Probably a good idea to add some integration unit testing to catch this UI
rendering issues too.

On Mon, Nov 4, 2019, 9:56 AM Chris Deaton <notifications@github.com> wrote:

[2019-11-06 11:56] lauthieb commented on #110
No problem @kodaman2.
Yes, I think Cypress could do the job but it's not prioritized for the moment.

[2019-11-07 08:05] K-lemens commented on #110
Wanted to let you know that in v1.2.2 it worked without a flaw.

[2019-11-07 17:07] S0U1SB4N3 commented on #110
confirmed 1.2.3 issue
<img width="1160" alt="Screen Shot 2019-11-07 at 12 05 14 PM" src="https://user-images.githubusercontent.com/22788570/68410675-1e476780-0157-11ea-9d19-bb2a04e0f760.png">
this is on mac latest OS updated

[2019-11-07 22:46] kartik-budhiraja commented on #80
@lauthieb apologies for the delay.

So I think we can add an input for the source information about the code snippet, which could be displayed as `b-link`.
Regarding the notes section, isn't description input supposed to be for this purpose only?

[2019-11-08 02:00] kodaman2 commented on #110
I suppose PR #74 has nothing to do with this? Is on the same release. It was also merged to master before #95. Just throwing that out there. 🙂

[2019-11-08 11:34] kodaman2 commented on #110
I am not entirely sure how to debug this issue, I see the problem on code-notes-v1.2.3.dmg for sure, though when I run the master or PR #95 commit with `npm run dev` I cannot reproduce the error.

@flashadvocate
- can you provide some context how you were able to reproduce issue with PR #95?
- Which npm script did you run, or did you build the install again?

[2019-11-08 12:00] kodaman2 commented on #110
I got a quick test done PR #95 is not the problem, here what I did to test it.

Pull code from commit 5991e90833136a28852dab21b6572ec99b55aa57 which was before PR #74, then manually added the code changes from PR #95, I then proceeded to:

- npm install
- npm run build
- installed on my mac mojave (don't think OS matters for this bug though)

Works perfectly fine. pinging @marvpaul for his input.

[2019-11-08 14:21] marvpaul commented on #110
Also the bug appears for local snippets as well.

[2019-11-08 19:24] kodaman2 commented on #110
That is a very good assessment @marvpaul , if this was my repo, I would revert back to that commit which broke the app, then manually add the following code commits after that without any major changes once is all tested and built then I would work on major vue changes and stuff like that. I think the process was a bit loose along the ways. Just my 2c lol don't take it personal.

[2019-11-09 02:10] kodaman2 commented on #110
I'm not an expert on electron apps but shouldn't this bug be visible during `npm run dev`? If not, then why is dev different than build? My point is that the app run fine on latest master on dev, why is that?

[2019-11-09 08:55] marvpaul commented on #110
I had some time today to further analyze the source of this bug.
The problem should be 8b530087937596c510cf68f0243c0677e2f222df
I've done:
- local build of 8b530087937596c510cf68f0243c0677e2f222df --> bug appears
- local build of 29d3a74485d4baac43744a4c7fd93fb53881a442 --> Bug does not appear

@jack-chapman do you have an idea what could be the problem?

At first I though it could be a problem wi

[2019-11-09 22:22] kodaman2 commented on #110
Good luck finding this bug gents, tons of npm packages were upgraded. I would highly recommend re-doing #93 in very short commits, as of now #93 has only 4 commits with the first one has really all the changes already. So is very difficult to point to which a specific package, code change broke the app.

I think the issue is related to the vue templates edits + package upgrades, I tried to step tr

[2019-11-11 09:38] lauthieb commented on #110
Hi @kodaman2, thanks a lot for your investigation. Feel free to begin a new branch and try to resolve this bug. I can’t do this for the moment, my work takes me too much time unfortunately :( but I’ll try to answer you ASAP if you have any question on this subject. Many thanks another time.

[2019-11-11 18:08] kodaman2 commented on #110
No worries mine too, I'll try to work on it here and there on my evenings
and weekends. I was just planning for now to subtract the commit 8b533008
from master and submit a PR so master is restored to fully functional
again. After that I could try to redo that 8b533008 commit on another
branch but with smaller commits to try and find the package causing the
issue.

On Mon, Nov 11, 2019 at 3:38 AM

[2019-11-15 04:53] kartik-budhiraja commented on #91
@sahilsharma011 Are you still working on this issue if not, I would love to take it over. :)

[2019-11-15 16:56] lauthieb commented on #91
Hi @kartik-budhiraja, I don't know but feel free to ask @sahilsharma011 :D
Thanks a lot!!

[2019-11-15 19:36] sahilsharma011 commented on #91
@kartik-budhiraja no I'm not working on this. Feel free to work on this.

[2019-11-16 17:45] matfire commented on #56
I could try and do this; I've been thinking of learning how to create vs code extensions

[2019-11-25 22:37] lauthieb commented on #110
Hi @kodaman2, did you work on this or no?
I've updated our website to reference the 1.2.2 in the download's section for the moment.

[2019-11-26 13:01] kodaman2 commented on #110
@lauthieb
I've tried a few times with no luck, you downgrade one package and the
whole thing crumbles. As much as I hate to say it, I think the easiest
thing to do is to reset to a working commit, then ping each individual PR
that was merged after that.

Going forward I'd be a bit more careful about merging commits without doing
a production build and dev test.

On Mon, Nov 25, 2019, 4:37 PM Laure

[2019-11-29 20:31] algobot76 commented on #94
Any progress on this issue? I may take a look and see if I could do the upgrade over the weekend.

[2019-12-03 23:49] lauthieb commented on #110
Thanks to a great PR of @kodaman2, this issue is now fixed.
You can download the "new" 1.2.3 version there: https://github.com/lauthieb/code-notes/releases/tag/1.2.3
Thanks everyone for this amazing work. You're awesome <3

[2019-12-03 23:49] #110 closed

[2019-12-04 08:51] lnrdnl opened #116 "Scrollbar on screen"
It's a small thing but I noticed it and I decided to log it.

The main screen always has a scroll bar. But when opening the "create code modal", the scrollbar disappears, and this causes the content to shift in the background. The about modal does not have this problem. I added screenshots as an example.

Steps to reproduce the behavior:
1. On mainscreen scrollbar always visible
2. Click on [+] (C

[2019-12-04 12:35] lnrdnl commented on #116
I really like your project, and I'm planning to do some work on it during Christmas holidays.

[2019-12-04 12:41] lauthieb commented on #116
Thanks a lot @lnrdnl for these words, your issue and your time for Code Notes.
Nice to meet you :)

[2019-12-04 12:41] lauthieb commented on #116
It's our project :)

[2019-12-06 15:12] torr6420 opened #118 "Upgrade from 1.2.2 to 1.2.3 blank screen"
Hello,

When I installed version 1.2.3 it opened up with a blank screen and now I can't access my code.
How can I access my code notes.

Thanks

[2019-12-09 06:25] lauthieb commented on #118
Sorry @torr6420, I haven't got this problem on my laptop... We will wait if someone has the same problem.

[2019-12-09 06:27] #91 closed

[2019-12-09 11:54] sadikerd commented on #40
It doesn't work for me!!! i saved all snippets ( i passed 1 hour) then totally white screen. And the repository is not like mentioned earlier
It is like this;
Windows 7, 8.1, and 10: C:\Users[username]\AppData\Local\Programs\code-notes

[2019-12-09 12:56] sadikerd opened #119 "White screen issue"
**Describe the bug**
It doesn't work for me!!! i saved all snippets ( i passed 1 hour) then totally white screen. And the repository is not like mentioned earlier.

It is like this;
Windows 7, 8.1, and 10: C:\Users[username]\AppData\Local\Programs\code-notes
I installed version 1.2.3
Win 10

[2019-12-09 12:56] sadikerd commented on #119
I tried to install and uninstall as well, no change.

[2019-12-09 12:57] sadikerd commented on #119
I can see only 2 menus Application and Edit

[2019-12-09 13:02] lauthieb commented on #119
Okay thanks. I think it's an issue on Windows.
I don't have a Windows computer... Can anyone help me? :(
@kartik-budhiraja @kodaman2 ?

[2019-12-09 13:03] lauthieb commented on #119
Sorry for the inconvenience... It's an open source project with a few people and no CI/CD/tests chain :(

[2019-12-09 13:03] lauthieb commented on #119
As a workaround, you can reinstall Code Notes 1.2.2 and check notes and settings are in the "userData" directory of this application:
- Windows 7, 8.1, and 10: C:\Users[username]\AppData\Local\code-notes
- Mac OS X El Capitan: Users/[username]/Library/Application Support/code-notes
- Linux: /home/[username]/.config/code-notes

Inside this folder, you will have notes.db and settings.db. So, you wou

[2019-12-09 13:04] lauthieb commented on #118
We will try to fix this issue here : #119

[2019-12-09 13:04] #118 closed

[2019-12-09 13:09] lauthieb commented on #119
Can anyone could helped by running the application in development with Windows?

[2019-12-09 13:12] lauthieb commented on #40
Thanks for reporting @sadikerd, sorry again. Check my comment https://github.com/lauthieb/code-notes/issues/119#issuecomment-563228788 if you want to retrieve your notes and rollback to 1.2.2 version of Code Notes.
We are a free & open source project. Today, I don't have a lot of time to maintain it. We will try to fix it when we will find someone ready to test it in development and see the consol

[2019-12-09 13:16] sadikerd commented on #119
Thanks fast response. Version 1.2.2 works well. And it is the best Snippet tool that I've seen. The simplest is the best all the time. Thanks again for making our life easier bro ;)

[2019-12-09 13:19] lauthieb commented on #119
Thanks a lot for these words.
We will try to fix it asap.

When you have time, can you try to clone this project and launch:
- `npm install`
- `npm run dev`
and see what's happening in the developer console?

Thanks a lot in advance.

[2019-12-09 14:24] torr6420 commented on #118
Hello,

Can you please send me a link to download the previous version 1.2.2.

Thanks

On Mon, Dec 9, 2019 at 8:05 AM Laurent Thiebault <notifications@github.com>
wrote:

[2019-12-09 14:26] lauthieb commented on #118
Yes no problem : https://lauthieb.github.io/code-notes/#download

[2019-12-09 14:53] kartik-budhiraja commented on #119
I have a windows, I will test it and let you know. @lauthieb

[2019-12-09 15:08] lauthieb commented on #119
Thanks a lot @kartik-budhiraja

[2019-12-09 15:21] torr6420 commented on #118
I reinstall it and reloaded the code-notes folder and was able to recover
my notes.

  Thank you very much!

On Mon, Dec 9, 2019 at 9:26 AM Laurent Thiebault <notifications@github.com>
wrote:

[2019-12-09 19:24] kodaman2 commented on #119
@lauthieb I had built it on Windows 10 on the branch I fixed, tested built and dev. Will have to recheck if anything changed from merging to master or if any new commits changed anything.

[2019-12-09 20:09] lauthieb commented on #119
So strange :/

[2019-12-10 07:58] lnrdnl commented on #119
I cloned version 1.2.3 last Thursday and I used it the whole day. No issues.

[2019-12-10 08:10] lauthieb commented on #119
Thanks @lnrdnl.
Hm. I've no idea... :O

[2019-12-10 08:18] lnrdnl commented on #119
Maybe it is also an idea to just add "Open DevTools" in the menu. In my personal projects I used to hide it in prod build, but after some small issues with styling I decided to just make it available in the menu for everyone. A lot of dev tools build with Electron have the option to open Devtools. VSCode for example also has the option to open devtools.

Code-Notes is a tool aiming on developers,

[2019-12-10 12:31] kodaman2 commented on #119
@lnrdnl this is a good idea! :smiley: I think we should also use a log file to log important messages / errors in case user is not familiar with dev tools.

[2019-12-11 08:47] sadikerd commented on #119
Both, but generally local.

[2019-12-11 08:52] sadikerd commented on #119
When I install, it is opened normally, then I saved all snippets. Then I closed the app.
When I reopen the app, it was trying to load, i have seen loading bar, then all are disappeared. Only top two menus Application and Edit which do not help me to give you a lot information.

[2019-12-11 08:53] sadikerd commented on #119
By the way I'm using Win 10 X64.

[2019-12-11 13:09] kodaman2 commented on #119
Im going to build an exe with developers tools to see if we can get to the bottom of this, I'm running same version you have with no issues on Win10. I wonder if there's some parsing issue going on and that's why it won't render anything.

[2019-12-11 14:35] lnrdnl opened #120 "Trouble with eslint line break style on Windows"
People on Windows, I'm having trouble building the application because of Eslint.

It fails because of line break style rule. I tried to disable it in eslint with ```"linebreak-style:": 0,``` but it keeps complaining:

[code]

When I add ``` * ``` in eslintignore, application is building and no problems. How do you do it @kodaman2 ?

[2019-12-11 16:40] kodaman2 commented on #120
You'll have to run `npm run eslint:fix` to fix linting issues.

[2019-12-11 17:31] kodaman2 commented on #120
There's a way to setup your editor to comply with certain linebreaks too might be the long term solution.

[2019-12-12 00:06] kodaman2 commented on #119
@sadikerd if you can build from master please do and add the following line, been really busy this week:

src/main/index.js  just after the new BrowserWindow construction, to force the dev tools to open on launch

[code]

Then let us know if you see any errors on the console.

[2019-12-13 09:27] LucasVanHaaren commented on #33
Hello, I'm interested in this feature.
Can I try to contribute to its development?

[2019-12-13 12:18] lauthieb commented on #33
Hello @LucasVanHaaren, yes feel free! :) Thanks!!!

[2019-12-13 14:22] LucasVanHaaren commented on #33
Great ! I just have a quick question about the implementation.
Once the local note is exported to gist, must the local note be deleted ?
If yes, should we have to ask for confirmation (e.g. via a modal window) ?

[2019-12-13 14:33] lauthieb commented on #33
Yes good idea. For me, once a local note is transfered to gist, we should ask for confirmation and redirect to gists tab. What do you think about this @shevabam ?

[2019-12-23 19:44] LucasVanHaaren commented on #100
Hi guys, after some research, I found this node module : [keytar](https://github.com/atom/node-keytar)

This module delegates the storage of the token to the key/password manager of each OS.

I think that can solve the problem.

[2019-12-24 08:39] lauthieb commented on #100
Oh nice @LucasVanHaaren, thanks a lot for this idea! 💡

[2020-01-03 00:24] Crushedice commented on #119
i kinda found out WHY its happening.
all else i leave to u
Made a short clip showing it, better then a wall of text
[http://dmt.ovh/images/webm/bXDc7.webm](url)

Basically, leaving name and desc. empty is unhandled

[2020-01-03 01:20] kodaman2 commented on #119
@Crushedice Great job! Yes, I am thinking those variables go to null and then the app goes haywire. Should probably make an empty string or disable create button if required values are empty.

Here's the link, you have it backwards on the markdown btw :wink:

http://dmt.ovh/images/webm/bXDc7.webm

[2020-01-03 22:10] kodaman2 commented on #119
Btw this behavior does not occur with gists, only with local notes. So if anyone is brave enough I think the best thing to do is to disable create button until note has required boxes filled.

[2020-01-03 22:13] kodaman2 commented on #119
We should probably also look into why the uninstalling is leaving data behind.

[2020-01-03 22:17] kodaman2 commented on #119
ToDos from this issue:

- Disable create button on local notes if there are any blank boxes.
- Add Button to enable developer tools
- Could also add console logs to an actual logging file so user can add that to repo issues.
- Investigate why uninstalling is leaving data behind.

[2020-01-04 00:06] lauthieb commented on #119
Completely right with this ToDo List.
Thanks guys for this investigation!

[2020-01-06 17:16] kodaman2 opened #124 "Uninstall on windows leaving data behind in roaming folder"
This is merely a TODO note for me lol. I will fix the build configuration on package.json to fix this. I've noticed it on windows only, but I will check on linux and mac too so we can have a clean install/uninstall.

[2020-01-06 22:51] kodaman2 commented on #124
Data left behind on windows after using unistaller is on following paths:

- %HOME%/AppData/Roaming/Code Notes/installer.exe and logs
- %HOME%/AppData/Roaming/code-notes/user data

[2020-01-07 16:32] kodaman2 commented on #109
Is this still an issue? I used lubuntu, and icon works fine on that one, I don't have ubuntu VM and I don't like the distro lol.

Can you please go to ~/.local/share/applications or whatever path your .desktop file is, and show us the contents of that files. It should be called appimagekit-code-notes.desktop

I believe this is an electron issue as per the two issues below:
https://github.com/elect

[2020-01-07 20:53] LucasVanHaaren commented on #100
Hi everyone,
I can give a try to implement it in the next few weeks.

As the official documentation says, on linux distributions this module depends on native packages:
- Debian: _libsecret-1-dev_
- RedHat: _libsecret-devel_
- Arch: _libsecret_

So I think we should also write an npm pre-installation script to check / install the corresponding packages.
What do you think about this ?

[2020-01-07 23:33] kodaman2 commented on #100
I think you should definitely implement it! 👍😁 password managers are a lot better than plain text.

Have a look here for custom scripts to check dependencies.
 https://stackoverflow.com/q/45082648/1013828

[2020-01-08 08:40] lauthieb commented on #100
Completely agree with @kodaman2.
Let's go :rocket:

[2020-01-08 15:10] lauthieb commented on #119
This issue is now fixed thanks to @kodaman2 and its PR #123.
I will let you inform when a new version will be published :)

[2020-01-08 15:10] #119 closed

[2020-01-10 02:08] kodaman2 opened #127 "Are Vue Tools working for everyone?"
I remember Vue tools used to work nicely at some point, now I get a bunch of errors at the end of `npm run dev`, anyone have a workaround is driving me insane. Been searching forever for a solution.

[code]

[2020-01-10 07:54] lauthieb commented on #127
Same here, I don't know why :/

[2020-01-10 13:11] kodaman2 commented on #127
On a good note is still working on my mac, which might have something different. I'll have to compare global packages versions. I used master branch and I can see vue tools.

[2020-01-10 15:19] kodaman2 commented on #127
On my mac I have, where vue tools stil work:

[code]

On windows 10 where it doesn't work:

[code]

I supposed node doesn't have virtual environments like python? So I can test out my theory without uninstalling installing my global installations?

[2020-01-10 16:08] kodaman2 commented on #127
I've installed same versions as I have on my mac, and same outcome. At least we know is not a code notes issue, and not an npm issue. Will close for now if I find anything useful. I'll open a new issue for the community.

[2020-01-11 20:55] OiYouYeahYou commented on #109
I cloned a fresh copy of master and made the suggested changes. The icon still doesn't work unfortunately

[code]

@kodaman2 as an aside: lubuntu, ubuntu, kubuntu and xubuntu are all the same distribution. The only major difference is which `{,l,k,x}ubuntu-desktop` package is installed. And installing the different DE is just a matter of running `sudo apt install [,l,k,x]ubuntu-desktop`

[2020-01-11 20:59] kodaman2 commented on #109
If is all the same, then I dunno, it works perfect on my lubuntu. Btw you have a typo on the diff you pasted. 255x256.png, might want to to try 256x256.png

[2020-01-11 21:07] OiYouYeahYou commented on #109
The typo makes no difference :(

[2020-01-11 21:08] kodaman2 commented on #109
Any errors on console?

[2020-01-19 15:42] kodaman2 commented on #109
I've ran Ubuntu 19.04 with gnome with no issues. Not much I can think of to debug this issue if is working on 3 different linux systems, I've tried.

![image](https://user-images.githubusercontent.com/10265682/72683739-7aa3fd00-3a9f-11ea-9b09-60763f0924e9.png)

![image](https://user-images.githubusercontent.com/10265682/72683747-8f809080-3a9f-11ea-9f0f-6268a88cf0cb.png)

![image](https://user-imag

[2020-02-17 04:50] S0U1SB4N3 opened #128 "Search within files"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

upgrade your search to include <search>within:file

add above to your search bar and it should return better results

ive tested this into the gist searcher and it works.
if I have a file name tail.sh
and I search tail
it will only show th

[2020-02-28 14:53] lauthieb commented on #128
Pretty good idea. Thanks a lot @S0U1SB4N3 and feel free to contribute. I would love to help you.

[2020-03-01 17:30] fabiograz opened #130 "Garbage local notes file"
Hi,
I look at notes.db content and find that it include also notes I've deleted.
I think, It is useful to have a sort of garbage of deleted notes during closing, or at request so to reduce file size.

Thanks,
Fabio.

[2020-03-01 18:28] lauthieb commented on #130
Thanks Fabio for this proposition of enhancement.

[2020-03-01 20:29] kodaman2 commented on #130
Are the deleted notes on notes.db on next launch?

- Close the app
- Launch the app
- Check notes.db

I'm pretty sure I check this last time, but going off memory. Can you please confirm.

[2020-03-02 18:51] fabiograz commented on #130
Ok, you are right.
If  I delete a note, and close application it is yet in notes.db. When I reopen application it is removed from notes.db.
I close the issue.
Thanks,
Fabio.

[2020-03-02 18:51] #130 closed

[2020-03-02 22:25] lauthieb commented on #130
Thanks @fabiograz and @kodaman2 for this investigation!
Enjoy Code Notes :-)

[2020-03-03 00:37] #127 closed

[2020-04-08 15:07] BlackMix opened #131 "Dark Mode + Mysql Connection"
**Is your feature request related to a problem? Please describe.**
Nop.

**Describe the solution you'd like**
I added dark mode and added Mysql option to connection and create
note in DB, I think this is very good. watch that video, demo about it.
dark mode still not complete, need fix some colors.

**Describe alternatives you've considered**
click on image
[![Video](https://i.imgur.com/j7EyvBt.pn

[2020-04-08 16:04] BlackMix commented on #131
fixed dark mode https://www.youtube.com/watch?v=brivHzhbvpk

[2020-04-08 17:16] kodaman2 commented on #131
Hey @blackmix I think these two changes should be done in separate PRs. One is gui, the other backend.

How are you implementing dark mode? Are you allowing for future development such as people making their own templates perhaps on a json file or through the gui? Sorry if the question is redundant I haven't looked at the code yet.

[2020-04-08 17:27] BlackMix commented on #131
Hi @kodaman2
dark mode is in sass tag html.dark, like same as Vue uses in vue-cli
I save option in settings, so every reload still using dark mode.

Mysql just added other settings and edited sidebar for add new menu
and Node.js file with mysql package.

making own templates is good idea, I need see how could create it using some
template data, looks nice.

[2020-04-08 17:31] BlackMix commented on #131
I think to make it more dynamic I could edit the entire menu and let it auto complete, if the person does not use mysql or gist the menu should not appear, I also discovered bugs in the .db files, they always add a new line with the same settings .

[2020-04-08 17:46] mauricioaznar commented on #127
Did you find any solutions?. I am having the same problem. Maybe if we could manually install another vue js devtools version, it could work.

[2020-04-08 17:50] kodaman2 commented on #127
I didn't find any solutions for either Linux or Windows. My mac still works but I have no explanation why lol.

[2020-04-08 23:20] mauricioaznar commented on #127
Sad. If you ever need to use it on windows, this library worked for me: https://github.com/zce/vue-devtools.

[2020-04-10 11:47] lauthieb commented on #131
Hi guys, thanks for your answers!
For dark mode, I've put my opinion in the PR #132 comments ;-)

[2020-04-10 11:49] lauthieb commented on #131
What's the capital gain of using a MySQL DB instead of simple .db file?

[2020-04-10 14:01] BlackMix commented on #131
I'll edit it, but good for use in remove server, if ppl not like save in local machine

[2020-04-10 18:24] kodaman2 commented on #131
I'll put my two cents, most end users will probably not want to setup mysql and a database just for gists. I think in the grand scheme of things something like Dropbox or Google for syncing local notes might be more beneficial than additional the whole overhead of a full blown database.

Actually all of the above could be forgotten, if a local note had a button to convert to gists then is on githu

[2020-04-10 19:16] BlackMix commented on #131
yeah, true, let only me use it so. 👍

[2020-04-10 19:16] #131 closed

[2020-04-14 22:55] lauthieb commented on #131
Thank you very much @BlackMix for these contributions anyway. Hope you enjoy code notes and feel free to ask if you have any question/suggestion.

[2020-04-27 19:43] mszkb commented on #94
I assume nobody is working right now on this issue.

I am currently working on a solution to do the migration from vue-cli 2 to vue-cli 3. I probably need a couple days. There would be some breaking changes. I'll drop a message if some obstacles occur.

[2020-04-27 21:20] mszkb commented on #94
I see there is one big problem with the updated vue-cli 4 and vue tooling in general.
https://vuejs.org/v2/guide/single-file-components.html#What-About-Separation-of-Concerns

The component files are seperated into html, scss and the vue file. According to the documentation and my current progress, I probably have to move all html file contents inside the vue files.
Problem right now: Outsorucing

[2020-04-28 09:15] lauthieb commented on #94
Hi @mszkb, thanks a lot for investigating this issue!

To answer your question, I think the vue files will be very big if we put html contents into them... There's no solution to keep `<template src="...">` inside those .vue files?

[2020-04-28 13:29] probil commented on #94
I would suggest moving templates into vue files.
It would make files bigger for sure but it also help to spot huge component which need separation. Moreover, placing templates into vue files is kind of a standard nowadays and having that would improve maintainability as more people are familiar with it

[2020-04-28 17:23] mszkb commented on #94
I will investigate a little bit, but as @probil said, nowadays you put everything into the vue files (even css). If your vue files are getting too big then the best idea is to create a new component.

[2020-04-28 22:59] lauthieb commented on #94
Okay, thanks guys! 2 years I've switched to React so I trust you for current best practices.
So you can do this like this @mszkb :-)
Thanks a lot for your help improving Code Notes.

[2020-04-29 18:39] mszkb commented on #94
@lauthieb I am pleased to help.

Right now I am stuck at the unit and e2e tests. There are no meaningful unit tests and the karma config is not compatible with vue-cli 4. Therefore I'd like to use Jest because vue-cli provides nice support. I try to replicate the e2e tests with jest aswell. Is that okay?

[2020-04-29 22:06] lauthieb commented on #94
Yes feel free for this @mszkb

[2020-05-03 18:05] mszkb commented on #124
There is a nice documentation about the installer and uninstall part of an electron project: https://www.electron.build/configuration/nsis.
I will look into it in the next few days.

[2020-05-03 18:27] mszkb commented on #104
It is a feature for macos only. See https://github.com/electron/electron/issues/12677#issuecomment-383165627.
There is a npm package which solves this problem: https://www.npmjs.com/package/electron-about-window

Either we use the npm package or we create our own window.

[2020-05-04 07:24] lauthieb commented on #124
Nice! Thanks @mszkb for this, because I haven't got any Windows laptop...

[2020-05-04 07:25] lauthieb commented on #104
Oh thanks @mszkb, @probil do you want to test this solution?

[2020-05-04 12:57] kodaman2 commented on #124
This issue was resolved in PR #125 forgot to close the issue.

[2020-05-04 12:57] #124 closed

[2020-05-10 14:57] mszkb commented on #104
We can maybe add this after we upgraded to vue-cli 4. Before that I do not like to do any pull requests, because the structure changed there :)

[2020-05-17 21:36] lauthieb commented on #94
We can now close this issue thanks to @mszkb!

[2020-05-19 23:50] lauthieb commented on #94
@mszkb
As I mentioned in #135, there's a problem...
When I did npm run build:mac and installed with the new 1.2.4 dmg file, I've lost all my notes. Fortunately, when I reinstall the 1.2.3 version my notes come back.
Can you please check this problem?
I will let your commit on master but don't make a release until this work again.
Thanks!

[2020-05-23 19:22] pronoym99 opened #136 "Add auto update feature"
The app should automatically update once an update is available or create relevant settings for the user to handle the same. Currently, a new download is required.

[2020-05-23 19:48] mszkb commented on #94
Additional config was needed: https://github.com/lauthieb/code-notes/issues/94#issuecomment-631147962

[2020-05-23 20:34] mszkb commented on #78
I can do this after we resolved the issues with the vue-cli 4 upgrade.

[2020-05-27 20:17] #94 closed

[2020-05-27 20:19] lauthieb commented on #136
Thanks for this proposition. I've juste pinned this issue.

[2020-05-27 20:21] lauthieb commented on #78
Sure @mszkb, feel free if you want, your PR is now merged and it works for existing database! Thank you very much for this.

[2020-05-27 21:30] lauthieb opened #138 "Error on Travis CI"
**Describe the bug**
Error on Travis CI build : https://travis-ci.org/github/lauthieb/code-notes/jobs/691914972

@mszkb @kodaman2 do you have an idea to help me fix this issue? I've upgrade package-lock and clear the cache but I still have this error. :(

Thanks a lot.

[2020-05-27 23:03] kodaman2 commented on #138
Can you try this on travis.yml:

[code]

[2020-05-28 08:12] lauthieb commented on #138
Thanks @kodaman2, still an error: https://travis-ci.org/github/lauthieb/code-notes/builds/692065252

[2020-05-28 22:30] mszkb commented on #138
Oh damn, it seems the upgrade to vue-cli 4 and electron 8 had some drawbacks.
See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment#Browser_compatibility

Last row: Rest object (destructuring in objects) works only with node.js >= 8.3
If code-notes does not particular rely on an older node.js version, I would suggest upgrading to node.js 12 LTS.

[2020-05-29 09:46] lauthieb commented on #138
I will try this, thanks @mszkb

[2020-05-30 03:19] pahosler opened #139 "add dart to language list"
**Is your feature request related to a problem? Please describe.**
When creating a new note or displaying a gist dart formatting is not supported, and the code is labeled and displayed as plain text.

**Describe the solution you'd like**
add dart to language support

**Describe alternatives you've considered**
there are no available alternatives

[2020-05-30 05:52] pahosler commented on #139
I would like to add a PR to the project.

I forked and added dart to the list of supported code formats.

I also fixed an error in types for `src/components/editor/Editor.vue` when being called from `NoteCard.vue`, where `NoteCard` height and width had string values and `Editor.vue` was expecting boolean values. I changed the type definitions in Editor to `String`

There are no breaking changes, c

[2020-05-31 17:16] pahosler commented on #104
I have a fix for this, but it required some minor rewriting of the code. I currently only have Windows 10 to test on, but the changes shouldn't cause any issues with other OS's. Also it moves the about modal into `src/components/modals/about-modal` and out of `Navbar.vue`

[2020-05-31 19:08] pahosler opened #140 "Test Create Note fails"
**Describe the bug**
Test for Create Note fails:

[code]

**To Reproduce**
$ npm test

**Expected behavior**
Expect test to pass

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Electron
 - npm: 6.14.6
 - node: 13.9.0

**Additional context**
I tested on a fresh clone of the repository to make sure I hadn't introduced the error with code changes in my fork. The same er

[2020-05-31 22:12] stolenusername opened #142 "Unable to delete note"
**Describe the bug**
The delete button to delete a note doesn't appear to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new note.
2. Click on  the red trash can to delete the note.
3. Observe the note is note deleted.

**Expected behavior**
The note gets deleted or removed.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browse

[2020-06-02 06:02] mszkb commented on #104
Yeah go ahead @pahosler, I do not have time to do this right now :)

[2020-06-02 06:04] mszkb commented on #142
Thanks for the report. It is kinda strange that such functionality do not work after the migration. I will look into it :)

[2020-06-08 19:43] mszkb commented on #139
PR active #141

[2020-06-24 12:40] m3l10da5 opened #146 "Application not working after update 1.2.4"
**Describe the bug**
After update, Code-notes not working and display white screen (see attachment file)

**Desktop (please complete the following information):**
 - OS: Windows 10 (build 1903)
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Additional context**
Add any other context about the problem here.
![error](https://user-images.githubusercontent.com/65487640/85557562-2b529180-b628

[2020-07-07 12:45] flashadvocate opened #147 "Ability to sync gists with local notes, vice versa"
Haven't investigated the feasibility of this yet, and would be happy to look at contributing to make this a thing, but in terms of safely storing a trove of notes, it would be utterly awesome to be able to sync notes between gists (pull all gists down into local, or conversely, push all local notes into gists).

Might also make sense to incorporate a "secrets" tag that prevents automation from syn

[2020-07-11 13:48] flashadvocate opened #148 "gripe - required fields"
I am not a massively huge fan of the latest requirements placed on input. I should just need title and body. Having to add not only a file name but _also_ a description is a pretty big bump in workflow. Are either or both of these things actually needed?

[2020-07-22 22:26] #140 closed

[2020-07-22 22:30] #142 closed

[2020-07-22 22:46] lauthieb commented on #139
Merged, thanks a lot guys.

[2020-07-22 22:47] #139 closed

[2020-07-22 22:48] lauthieb commented on #146
Hi @m3l10da5 thanks for reporting this.

@mszkb @pahosler can you please try if you have this error on Windows?

[2020-07-22 22:51] lauthieb commented on #147
Nice idea @flashadvocate thanks. I don't have time to make this true, unfortunately.
Feel free to help #121 made by @LucasVanHaaren. It converts local note to gist. All that remains is to do the opposite.

[2020-07-22 22:54] lauthieb commented on #148
Thanks @flashadvocate for this idea.

@stephengroat @mszkb @flashadvocate @bainternet @aspencer @slabruyere @pahosler @marvpaul @guastallaigor what's your point about this please?

For me, I don't think it's a problem if "description" and "filename" inputs would become not required.

[2020-07-22 22:59] lauthieb opened #150 "GitHub link on top right corner is broken"
**Describe the bug**

When I click on the GitHub link in top right corner, it doesn't work and I get the following error message in my console "can't read property "shell" of undefined. (Thanks Kody for reporting me this bug).

*To Reproduce**
Steps to reproduce the behavior:
1. Open the developers tools
2. Click on the GitHub button on top right corner
3. You will see the error message

![image](

[2020-07-23 08:45] pahosler commented on #146
I have had this happen on occasion.
usually `ctrl + shift + F11` and then in the inspector `ctrl + r` will do a refresh and all is well. Another `ctrl + shift + F11` closes the inspector.

Ideally this shouldn't happen.

Unfortunately I haven't had time to investigate to see what might cause this to happen or how to fix it.
Considering the underlying code is javascript, it could possibly be an asy

[2020-07-23 09:13] pahosler commented on #146
ok... update,

I haven't updated recently, and I haven't opened code-notes in a while, so this surprised me. It would not load any data. Even after `ctrl + r`, but I did get an error in the console about AppData/Roaming/code-notes/notes. I'm not sure what might have happened, after renaming code-notes to code-notes-old and restarting code-notes the app was back to normal but of course any local no

[2020-07-23 11:21] guastallaigor commented on #148
I agree, maybe change the order and put them  between Language and Content? :thinking:

[2020-07-23 18:05] flashadvocate commented on #147
Sure thing. I’ll check it out

On Wed, Jul 22, 2020 at 6:51 PM Laurent Thiebault <notifications@github.com>
wrote:

[2020-07-24 09:06] sadikerd commented on #119
The problem with 1.2.4 is still exist for me.
It does't show anything on the screen except white screen.
Little video: https://1drv.ms/v/s!AhakfZB-78XWh1-uAWShXsvAPXSv?e=Hfz4VX

![2020-07-24_11-03-17](https://user-images.githubusercontent.com/18291421/88376341-78e42a80-cd9d-11ea-91ba-fbd13c1cc241.png)

[2020-07-24 09:06] sadikerd commented on #119
Windows 10 X64

[2020-07-24 09:13] sadikerd commented on #146
May I have the setup of the older version because of the this issue?

[2020-07-24 09:14] sadikerd commented on #146
1.2.2 for example

[2020-07-30 00:53] #66 closed

[2020-07-30 00:53] #58 closed

[2020-07-30 00:53] #36 closed

[2020-07-30 00:53] #43 closed

[2020-07-30 00:53] #61 closed

[2020-07-30 00:53] #44 closed

[2020-07-30 00:53] #60 closed

[2020-07-30 00:53] #65 closed

[2020-07-30 00:53] #69 closed

[2020-07-30 00:53] #34 closed

[2020-07-30 00:53] #40 closed

[2020-07-30 00:53] #116 closed

[2020-07-30 00:53] #100 closed

[2020-07-30 00:54] #109 closed

[2020-08-02 21:36] #78 closed

[2020-08-12 02:17] #80 closed

[2020-08-17 07:33] MrMoshkovitz opened #152 "Delete/Update Note do not work"
Hi,
I am using code notes two days, suddenly i cannot delete or update existing local notes...
although i am able to create new ones..

Please contact me for help

[2020-08-18 22:26] lauthieb commented on #152
Hi @MrMoshkovitz can you please open the DevTools by clicking on:

![image](https://user-images.githubusercontent.com/9600228/90571711-a365af80-e1b2-11ea-97c8-58d5a9895d3f.png)

And see us the console logs.

Thanks

[2020-08-19 19:52] MrMoshkovitz commented on #152
![gitSheetCodenotes](https://user-images.githubusercontent.com/50079480/90683092-af16ac00-e26e-11ea-9af2-4729735e0971.png)

[2020-08-30 10:28] redkross commented on #152
Bonjour,

Je rencontre le même problème, impossible de mettre à jour / supprimer un snippet (local ou gist).

![image](https://user-images.githubusercontent.com/6020000/91656814-20026300-eabc-11ea-9ad9-38182109b52d.png)

Cordialement,

[2020-08-31 09:07] lauthieb commented on #152
Thanks, I will check asap.

[2020-09-05 05:11] wchen928 commented on #17
Hi @lauthieb, I just downloaded the app this week and I'm still having the same issue.

Is there anyone else working on this issue? May I help? Thank you for this project btw! It's great.

[2020-09-05 05:20] wchen928 commented on #150
Hi @lauthieb, Is there anyone else working on this issue? May I help? I think there's also the same issue when you click: About > "Feel free to contribute on Github 🍻"

Thank you for this project btw! It's great.

[2020-09-05 22:44] wchen928 commented on #150
I fixed it without using the electron shell command. It worked, but I'm not sure if you had other preferred ways to fix it.

This is what I put inside the methods

[code]
And this is how I put the link:
[code]

Let me know if this helps. Thanks

[2020-09-06 17:48] lauthieb commented on #150
Thanks! Can you make a Pull Request to fix this?

[2020-09-07 02:51] wchen928 commented on #150
#153 I just submit a pull request. Thanks!

[2020-09-07 02:57] wchen928 commented on #152
I have the same issue. However, when I run it in development mode, I had no problem deleting it. Do you have any thoughts on why this might be?

[2020-09-08 07:33] MrMoshkovitz commented on #152
didnt got no answer Linda...

On Mon, Sep 7, 2020 at 5:57 AM Linda Chen <notifications@github.com> wrote:

[2020-09-08 09:34] lauthieb commented on #152
Sorry, I don't have any time allowed for the moment with my professional activities :'(

[2020-09-28 08:03] LucasVanHaaren commented on #147
Hi @flashadvocate, are you working on it ?
I can help you, or even start to develop this feature.

[2020-10-04 23:12] lauthieb commented on #150
Closed by #153

[2020-10-04 23:12] #150 closed

[2020-10-05 16:02] undefynd commented on #152
![Bildschirmfoto 2020-10-05 um 17 57 55](https://user-images.githubusercontent.com/68283314/95103401-d8af6800-0734-11eb-939e-f8a05ec95f30.png)
I got the same error.

[2020-11-03 04:14] pronoym99 opened #157 "Snippet creator for Atom editor"
Give the ability to convert the code notes or snippets into code snippets for the atom editor. It should be noted that Atom editor snippets are written in **CoffeeScript**. Additionally, the feature should automatically highlight function parameters or arguments (written within a pair of $ symbols) so that they can be easily changed and the snippet is modifiable and configurable when in actual use

[2020-11-05 23:42] lauthieb commented on #17
Not stale

[2020-11-06 20:55] 1eliton opened #158 "Add a new optional field: "Technology""
I'm using too much the app for saving my snippets about mongodb, specially the scrips I use in mongoshell.

The problem is that when I save the snippet, I have to choose a language, so I choose "javascript" (every mongoshell script is about a code in js). The same happens for example when using spark (I can use more than one single language to communicate with the technology).

So, in this cenario

[2020-11-18 21:32] richtrefz commented on #152
Can't delete a snippet - can't even do application -> about
![Screenshot-at-2020-11-18-16-31-38](https://user-images.githubusercontent.com/1500959/99590683-ae033100-29bb-11eb-99b8-8de76b9ec47c.png)

[2020-11-22 06:20] MastProTech opened #159 "Add dark mode."
Hi. Please add dark mode to this app.

[2020-12-11 01:09] #138 closed

[2020-12-31 02:58] zacharyprice opened #165 "Github Icon to "Show on Github" is broken"
**Describe the bug**
Clicking on the GH icon for any Gist, whether secret or private, created recently or a while ago, doesn't open GH in the browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any gist in your app.
2. Click on the GH icon that states "Show on Github" onHover.
3. See error

**Expected behavior**
I would assume that clicking this icon would take me to its respectiv

[2021-01-01 06:00] lauthieb commented on #165
Thanks @zacharyprice for reporting this! Will investigate when I can 👌🏻

[2021-01-05 23:29] zacharyprice commented on #165
You bet @lauthieb !

[2021-01-06 15:18] flashadvocate commented on #147
Sorry, I have been completely useless here because I've been swamped on other things

[2021-01-14 14:05] #157 closed

[2021-01-24 23:11] #152 closed

[2021-02-17 15:37] sadikerd opened #168 "White screen"
**Not working on the windows 10**
There is only one white screen on the interface. All things disappear in 1 second.
I have tested the latest version. (Version 1.2.4)
I had the same issue on 1.2.3 as well.
But version 1.2.2 is working well on my system.

**Screenshots**
![image](https://user-images.githubusercontent.com/18291421/108226248-040f7e00-713d-11eb-82a7-11b358bdce95.png)

![2021-02-17_16-

[2021-02-23 08:48] liloumuloup opened #169 "Can't install because of SmartScreen"
Hi everybody,

I'm facing a pretty stupid and sad problem here and i don't if there is a solution.

I had to change my working computer and i can't run anymore Code Notes because of Windows SmartScreen with doesn't recognizes the editor of the software.

Unfortunately, i can't disable SmartScreen and really like this soft to collect all my snippets. :'(

Is there a way to fix this ?

King regards.

[2021-02-23 08:52] liloumuloup commented on #169
Ok, sorry for the useless issue.

i found a solution here : https://www.addictivetips.com/windows-tips/whitelist-apps-in-the-smartscreen-on-windows-10/

Really sorry. Have a nice day ! :)

[2021-02-23 08:52] #169 closed

[2021-03-09 11:21] #159 closed

[2021-03-09 11:21] #158 closed

[2021-03-09 11:21] #148 closed

[2021-03-09 11:21] #146 closed

[2021-03-09 11:21] #128 closed

[2021-03-09 11:21] #120 closed

[2021-03-09 11:21] #104 closed

[2021-03-09 11:21] #13 closed

[2021-03-09 11:21] #33 closed

[2021-03-09 11:21] #16 closed

[2021-03-09 11:21] #54 closed

[2021-03-09 11:21] #56 closed

[2021-03-09 11:21] #96 closed

[2021-03-09 11:21] #55 closed

[2021-03-14 03:04] #165 closed

[2021-03-14 03:04] #17 closed

[2021-03-15 05:28] #147 closed

[2021-03-24 23:39] zacharyprice commented on #165
:(

[2021-03-25 09:32] danielnovello commented on #168
I can second this

[2021-03-31 21:52] lauthieb commented on #168
Thanks for reporting this!
Sorry I don't have a Windows computer to test easily...
I use Electron and thought that all works!
Is it possible to one of you to fix this issue?
Thanks a lot!

[2021-06-07 06:03] #168 closed

[2021-07-29 02:58] thegiantsteel opened #188 "Prohibited character in note name does not allow note deletion"
**Describe the bug**
when trying to save a note that has a prohibited character (colon by example), the note is saved but cannot be deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to add button;
2. Put in the name of the note something like "Jquery :contains pseudo class"
3. Try to save and see the error (modal does not close);
4. Try deleting and see error (note is not deleted)

[2021-10-04 23:16] #188 closed

[2022-03-23 18:38] genepy opened #206 "The trash button doesn't work"
**Describe the bug**
It is impossible to delete a snipet via the trash button

**To Reproduce**
Steps to reproduce the behavior:
1. create a new snipet
2. click on the trash button
3. to see the error message => click in the menu on Application => toogle dev tool => console

**Expected behavior**
I expect the snipet to be deleted when I click on the trash button

**Screenshots**
![code-notes_trash

[2022-03-23 18:44] genepy commented on #206
Same problem as for problem #152

[2022-03-23 18:47] genepy commented on #152
**Describe the bug**
It is impossible to delete a snipet via the trash button

**To Reproduce**
Steps to reproduce the behavior:
1. create a new snipet
2. click on the trash button
3. to see the error message => click in the menu on Application => toogle dev tool => console

**Expected behavior**
I expect the snipet to be deleted when I click on the trash button

**Screenshots**
![code-notes_trash

[2022-06-11 02:48] #206 closed